{%- set target_table = node.name -%}
{%- set node_location = node.location.name -%}

{% set ns = namespace(node_database=None, node_schema=None) %}

{% for location in storageLocations %}
    {% if location.name == node_location %}
        {%- set ns.node_database = location.database -%}
        {%- set ns.node_schema = location.schema -%}
    {% endif %}
{% endfor %}

{{ stage('bad thing') }}
PRINT {{ sources[0].join }}

;
