-- {%- if true -%} {{ node.mehoy }} {%- else -%} {{ node.minoy }} {%- endif -%}
{% for year,data in node.data_set.items() %}
    {{ data.data_point }} \\ WORKS; output is 10
    {{ data.data_point|int }}
    {{ data.data_point - 2 }}
{% endfor %}